<a href="https://colab.research.google.com/github/ThisIsFarhan/pytorch-codes/blob/main/10_RNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

df = pd.read_csv('100_Unique_QA_Dataset.csv')
df.head()

                                          question      answer
0                   What is the capital of France?       Paris
1                  What is the capital of Germany?      Berlin
2               Who wrote 'To Kill a Mockingbird'?  Harper-Lee
3  What is the largest planet in our solar system?     Jupiter
4   What is the boiling point of water in Celsius?         100

In [2]:
def tokenize(text):
  text = text.lower()
  text = text.replace("?","")
  text = text.replace("'","")
  return text.split()

In [3]:
tokenize("My name is Farhan")

['my', 'name', 'is', 'farhan']

In [8]:
vocab = {"<UNK>":0}

In [9]:
def build_vocab(row):
  tokenize_ques = tokenize(row["question"])
  tokenize_ans = tokenize(row["answer"])
  merged_tokens = tokenize_ques + tokenize_ans

  for token in merged_tokens:
    if token not in vocab:
      vocab[token] = len(vocab)

In [10]:
df.apply(build_vocab,axis=1)

0     None
1     None
2     None
3     None
4     None
      ...
85    None
86    None
87    None
88    None
89    None
Length: 90, dtype: object

In [11]:
vocab

{'<UNK>': 0,
 'what': 1,
 'is': 2,
 'the': 3,
 'capital': 4,
 'of': 5,
 'france': 6,
 'paris': 7,
 'germany': 8,
 'berlin': 9,
 'who': 10,
 'wrote': 11,
 'to': 12,
 'kill': 13,
 'a': 14,
 'mockingbird': 15,
 'harper-lee': 16,
 'largest': 17,
 'planet': 18,
 'in': 19,
 'our': 20,
 'solar': 21,
 'system': 22,
 'jupiter': 23,
 'boiling': 24,
 'point': 25,
 'water': 26,
 'celsius': 27,
 '100': 28,
 'painted': 29,
 'mona': 30,
 'lisa': 31,
 'leonardo-da-vinci': 32,
 'square': 33,
 'root': 34,
 '64': 35,
 '8': 36,
 'chemical': 37,
 'symbol': 38,
 'for': 39,
 'gold': 40,
 'au': 41,
 'which': 42,
 'year': 43,
 'did': 44,
 'world': 45,
 'war': 46,
 'ii': 47,
 'end': 48,
 '1945': 49,
 'longest': 50,
 'river': 51,
 'nile': 52,
 'japan': 53,
 'tokyo': 54,
 'developed': 55,
 'theory': 56,
 'relativity': 57,
 'albert-einstein': 58,
 'freezing': 59,
 'fahrenheit': 60,
 '32': 61,
 'known': 62,
 'as': 63,
 'red': 64,
 'mars': 65,
 'author': 66,
 '1984': 67,
 'george-orwell': 68,
 'currency': 69,
 'united': 70,
 'kingdom': 71,
 'pound': 72,
 'india': 73,
 'delhi': 74,
 'discovered': 75,
 'gravity': 76,
 'newton': 77,
 'how': 78,
 'many': 79,
 'continents': 80,
 'are': 81,
 'there': 82,
 'on': 83,
 'earth': 84,
 '7': 85,
 'gas': 86,
 'do': 87,
 'plants': 88,
 'use': 89,
 'photosynthesis': 90,
 'co2': 91,
 'smallest': 92,
 'prime': 93,
 'number': 94,
 '2': 95,
 'invented': 96,
 'telephone': 97,
 'alexander-graham-bell': 98,
 'australia': 99,
 'canberra': 100,
 'ocean': 101,
 'pacific-ocean': 102,
 'speed': 103,
 'light': 104,
 'vacuum': 105,
 '299,792,458m/s': 106,
 'language': 107,
 'spoken': 108,
 'brazil': 109,
 'portuguese': 110,
 'penicillin': 111,
 'alexander-fleming': 112,
 'canada': 113,
 'ottawa': 114,
 'mammal': 115,
 'whale': 116,
 'element': 117,
 'has': 118,
 'atomic': 119,
 '1': 120,
 'hydrogen': 121,
 'tallest': 122,
 'mountain': 123,
 'everest': 124,
 'city': 125,
 'big': 126,
 'apple': 127,
 'newyork': 128,
 'planets': 129,
 'starry': 130,
 'night': 131,
 'vangogh': 132,
 'formula': 133,
 'h2o': 134,
 'italy': 135,
 'rome': 136,
 'country': 137,
 'famous': 138,
 'sushi': 139,
 'was': 140,
 'first': 141,
 'person': 142,
 'step': 143,
 'moon': 144,
 'armstrong': 145,
 'main': 146,
 'ingredient': 147,
 'guacamole': 148,
 'avocado': 149,
 'sides': 150,
 'does': 151,
 'hexagon': 152,
 'have': 153,
 '6': 154,
 'china': 155,
 'yuan': 156,
 'pride': 157,
 'and': 158,
 'prejudice': 159,
 'jane-austen': 160,
 'iron': 161,
 'fe': 162,
 'hardest': 163,
 'natural': 164,
 'substance': 165,
 'diamond': 166,
 'continent': 167,
 'by': 168,
 'area': 169,
 'asia': 170,
 'president': 171,
 'states': 172,
 'george-washington': 173,
 'bird': 174,
 'its': 175,
 'ability': 176,
 'mimic': 177,
 'sounds': 178,
 'parrot': 179,
 'longest-running': 180,
 'animated': 181,
 'tv': 182,
 'show': 183,
 'simpsons': 184,
 'vaticancity': 185,
 'most': 186,
 'moons': 187,
 'saturn': 188,
 'romeo': 189,
 'juliet': 190,
 'shakespeare': 191,
 'earths': 192,
 'atmosphere': 193,
 'nitrogen': 194,
 'bones': 195,
 'adult': 196,
 'human': 197,
 'body': 198,
 '206': 199,
 'metal': 200,
 'liquid': 201,
 'at': 202,
 'room': 203,
 'temperature': 204,
 'mercury': 205,
 'russia': 206,
 'moscow': 207,
 'electricity': 208,
 'benjamin-franklin': 209,
 'second-largest': 210,
 'land': 211,
 'color': 212,
 'ripe': 213,
 'banana': 214,
 'yellow': 215,
 'month': 216,
 '28': 217,
 'days': 218,
 'common': 219,
 'february': 220,
 'study': 221,
 'living': 222,
 'organisms': 223,
 'called': 224,
 'biology': 225,
 'home': 226,
 'great': 227,
 'wall': 228,
 'bees': 229,
 'collect': 230,
 'from': 231,
 'flowers': 232,
 'nectar': 233,
 'opposite': 234,
 'day': 235,
 'south': 236,
 'korea': 237,
 'seoul': 238,
 'bulb': 239,
 'edison': 240,
 'humans': 241,
 'breathe': 242,
 'survival': 243,
 'oxygen': 244,
 '144': 245,
 '12': 246,
 'pyramids': 247,
 'giza': 248,
 'egypt': 249,
 'sea': 250,
 'creature': 251,
 'eight': 252,
 'arms': 253,
 'octopus': 254,
 'holiday': 255,
 'celebrated': 256,
 'december': 257,
 '25': 258,
 'christmas': 259,
 'yen': 260,
 'legs': 261,
 'spider': 262,
 'sport': 263,
 'uses': 264,
 'net,': 265,
 'ball,': 266,
 'hoop': 267,
 'basketball': 268,
 'kangaroos': 269,
 'female': 270,
 'minister': 271,
 'uk': 272,
 'margaretthatcher': 273,
 'fastest': 274,
 'animal': 275,
 'cheetah': 276,
 'periodic': 277,
 'table': 278,
 'spain': 279,
 'madrid': 280,
 'closest': 281,
 'sun': 282,
 'father': 283,
 'computers': 284,
 'charlesbabbage': 285,
 'mexico': 286,
 'mexicocity': 287,
 'colors': 288,
 'rainbow': 289,
 'musical': 290,
 'instrument': 291,
 'black': 292,
 'white': 293,
 'keys': 294,
 'piano': 295,
 'americas': 296,
 '1492': 297,
 'christophercolumbus': 298,
 'disney': 299,
 'character': 300,
 'long': 301,
 'nose': 302,
 'grows': 303,
 'it': 304,
 'when': 305,
 'lying': 306,
 'pinocchio': 307,
 'directed': 308,
 'movie': 309,
 'titanic': 310,
 'jamescameron': 311,
 'superhero': 312,
 'also': 313,
 'dark': 314,
 'knight': 315,
 'batman': 316,
 'brasilia': 317,
 'fruit': 318,
 'king': 319,
 'fruits': 320,
 'mango': 321,
 'eiffel': 322,
 'tower': 323}

In [12]:
len(vocab)

324

In [13]:
def text_to_indices(text, vocab):
  indexed_text = []
  for token in tokenize(text):
    if token in vocab:
      indexed_text.append(vocab[token])
    else:
      indexed_text.append(vocab["<UNK>"])
  return indexed_text

In [16]:
text_to_indices("What's for dinner", vocab)

[0, 39, 0]

In [18]:
import torch
from torch.utils.data import DataLoader, Dataset

In [19]:
class QADataset(Dataset):
  def __init__(self, df, vocab):
    self.df = df
    self.vocab = vocab

  def __len__(self):
    return self.df.shape[0]

  def __getitem__(self, idx):
    num_question = torch.tensor(text_to_indices(self.df.iloc[idx]["question"], self.vocab))
    num_answer = torch.tensor(text_to_indices(self.df.iloc[idx]["answer"], self.vocab))
    return num_question, num_answer

In [20]:
dataset = QADataset(df, vocab)
dataloader = DataLoader(dataset, batch_size=1, shuffle=True)

In [21]:
dataset[1]

(tensor([1, 2, 3, 4, 5, 8]), tensor([9]))

In [24]:
len(dataloader)

90

In [25]:
len(dataset)

90

In [26]:
df.shape

(90, 2)

In [33]:
import torch.nn as nn
class network(nn.Module):
  def __init__(self, vocab_size):
    super().__init__()
    self.embedding = nn.Embedding(vocab_size,embedding_dim=50)
    self.rnn = nn.RNN(50, 64, batch_first=True)
    self.fc = nn.Linear(64,vocab_size)

  def forward(self, question):
    emb_ques = self.embedding(question)
    hidden, final = self.rnn(emb_ques)
    output = self.fc(final.squeeze(0))
    return output

In [34]:
learning_rate = 0.001
epochs = 20
criterion = nn.CrossEntropyLoss()
model = network(len(vocab))
optimizer = torch.optim.Adam(model.parameters(),lr=learning_rate)

In [36]:
for epoch in range(epochs):
  total_loss = 0
  for question,answer in dataloader:
    optimizer.zero_grad()
    op = model(question)
    loss = criterion(op, answer[0])
    loss.backward()
    optimizer.step()
    total_loss += loss.item()
  print(f"Epoch: {epoch+1}, Loss: {total_loss:4f}")

Epoch: 1, Loss: 524.265888
Epoch: 2, Loss: 454.352786
Epoch: 3, Loss: 374.944297
Epoch: 4, Loss: 313.960440
Epoch: 5, Loss: 262.349965
Epoch: 6, Loss: 214.339870
Epoch: 7, Loss: 169.716900
Epoch: 8, Loss: 132.075943
Epoch: 9, Loss: 101.574808
Epoch: 10, Loss: 77.500035
Epoch: 11, Loss: 59.629891
Epoch: 12, Loss: 46.670032
Epoch: 13, Loss: 36.933269
Epoch: 14, Loss: 30.228250
Epoch: 15, Loss: 25.020453
Epoch: 16, Loss: 21.090640
Epoch: 17, Loss: 17.887947
Epoch: 18, Loss: 15.359534
Epoch: 19, Loss: 13.504330
Epoch: 20, Loss: 11.794264

In [57]:
def predict(model, question, threshold=0.5):
  indexed_ques = text_to_indices(question, vocab)
  ques_tensor = torch.tensor(indexed_ques).unsqueeze(0)
  op = model(ques_tensor)
  print(op)
  print(op.shape)
  probabilities = torch.nn.functional.softmax(op, dim=1)
  v, i = torch.max(probabilities, dim=1)
  if v >= threshold:
    print(list(vocab.keys())[i])

In [59]:
predict(model, "What is the boiling point of water in Celsius?")

tensor([[-3.2883, -3.7791, -3.2535, -3.2959, -3.6165, -2.7816,  0.1742,  0.3360,
         -3.9651, -0.2657, -4.0499, -3.6165, -3.6177, -3.4822, -3.3425, -3.1101,
         -0.0263, -3.4459, -2.7936, -3.7678, -3.9721, -3.0805, -2.9490,  0.0239,
         -3.7135, -3.7813, -3.4656, -2.9809,  7.2046, -3.2107, -3.4026, -2.8993,
         -0.0497, -3.6195, -3.4754, -2.6599, -0.3775, -3.2994, -3.4201, -3.5088,
         -3.5503, -1.1641, -3.2103, -3.6991, -3.1849, -2.9817, -3.3184, -3.5107,
         -3.4180,  0.1441, -3.7863, -3.9089, -0.7094, -0.0924, -0.5594, -3.5361,
         -3.2899, -3.7615, -1.3161, -3.3540, -3.5576,  1.6599, -3.6484, -3.5924,
         -3.7168, -0.6727, -3.3833, -3.0543,  0.4852, -3.1692, -2.8520, -2.6634,
         -0.2547, -3.7642,  1.4010, -2.7970, -4.0299,  1.0036, -3.6151, -3.4828,
         -3.5202, -3.5187, -3.1107, -3.4638, -3.4173, -0.2942, -3.1626, -3.2303,
         -3.5434, -3.0501, -3.3012, -0.7349, -3.0332, -3.4377, -3.4696,  0.2825,
         -3.3060, -3.3166, -1.8623, -1.5375,  0.2573, -3.7340,  0.3981, -3.4332,
         -3.3832, -3.7665,  1.7018, -3.6786, -3.5761, -3.6665,  1.5170, -3.6266,
         -0.6085, -1.0534,  0.2520, -3.3333, -0.6176, -2.9529, -3.5356, -3.4216,
         -2.9872,  0.3592, -3.4344, -3.8665, -0.9194, -3.5677, -3.2454, -3.1176,
         -0.1016, -3.5835, -3.5311, -0.2912, -1.4459, -3.5458,  1.2568, -4.0071,
         -0.6289, -3.5220, -3.4925, -3.9316, -3.0759, -3.5273, -3.3888, -3.4181,
         -3.2191, -1.1966, -3.4522, -3.2505, -3.5826,  1.5134, -3.2134, -3.4669,
         -3.3290, -3.2796, -1.4024,  0.2553,  0.4807, -3.1687, -4.0977, -3.5010,
          0.1314, -2.7699, -0.1734, -3.1262, -3.3991, -3.7921, -1.4911, -2.9116,
         -3.5850, -3.4932,  0.3760, -3.5791, -3.7557, -0.8456, -2.6075, -3.5769,
         -3.6378, -2.9985, -3.2297, -0.0541, -3.6874, -3.5258, -3.5220, -3.5904,
         -1.5862, -0.5158, -3.4965, -3.6056, -0.1160, -3.4301, -3.1563, -0.9094,
         -3.4977, -3.7657, -0.1349, -3.3889, -3.1967, -3.5343, -3.8491, -2.5944,
         -3.0977, -3.2630, -2.8537, -3.1578, -2.8920, -0.1195, -3.8918,  0.5363,
         -3.9145, -0.1512, -3.1070, -3.4183, -2.9640, -3.6616, -3.2681,  0.4025,
         -3.4586, -3.2758, -3.0304, -3.4620, -0.5721, -3.4924, -3.1779, -3.6090,
         -3.5926, -0.5720, -3.2742, -3.3413, -3.5009, -3.6897, -3.4380, -3.7516,
         -3.8975,  0.2549, -3.3881, -3.0993, -3.4749, -3.1667, -0.9565, -3.9104,
         -0.0276, -3.3864, -3.6600, -3.5202, -0.5262, -4.0932, -0.6732, -3.4824,
         -3.6384,  0.3410, -3.6571, -3.3251, -2.6867, -2.9531, -0.1034, -3.1973,
         -3.2939, -3.3132, -3.1989, -1.3008, -1.4628, -3.1335, -2.9973, -3.6521,
         -2.9325, -3.1321, -3.8590, -3.2480,  0.3606, -3.1583, -3.3173, -2.8870,
         -3.6830, -2.8410, -3.4617, -3.5733, -0.7049, -3.2193, -3.1548, -3.7591,
          0.4163, -3.7893, -3.3704, -3.6658, -3.3281, -0.1162, -3.1997, -1.5844,
         -3.3009, -3.5608, -3.5370, -3.4085, -2.6212, -2.8936, -3.7404, -1.0846,
         -3.4988, -2.8659,  2.3758, -3.1708, -3.1903, -2.9889, -3.4010, -3.4273,
         -3.6448, -3.4943, -3.5799, -0.7738, -3.1527, -3.2870, -3.4140, -0.0633,
         -4.0982, -3.8052, -3.7357, -3.5284, -0.0494, -0.5226, -3.1212, -3.6061,
         -2.5760, -0.6796, -3.1850, -2.9863]], grad_fn=<AddmmBackward0>)
torch.Size([1, 324])
100